ETCD_NAME="{{ inventory_hostname }}"
ETCD_DATA_DIR="/var/lib/etcd"

ETCD_DISCOVERY="{{ etcd_discovery_token }}"

ETCD_LISTEN_CLIENT_URLS="https://{{ etcd_client_address | default("0.0.0.0") }}:2379"
ETCD_ADVERTISE_CLIENT_URLS="https://{{ etcd_advertise_client_address | default("127.0.0.1") }}:2379"
ETCD_CLIENT_CERT_AUTH="true"
ETCD_TRUSTED_CA_FILE="/etc/etcd/pki/client-ca.crt"
ETCD_CERT_FILE="/etc/etcd/pki/client.crt"
ETCD_KEY_FILE="/etc/etcd/pki/client.key"

ETCD_LISTEN_PEER_URLS="https://{{ etcd_peer_address | default("0.0.0.0") }}:2380"
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ etcd_advertise_peer_address | default("127.0.0.1") }}:2380"
ETCD_PEER_CLIENT_CERT_AUTH="true"
ETCD_PEER_TRUSTED_CA_FILE="/etc/etcd/pki/peer-ca.crt"
ETCD_PEER_CERT_FILE="/etc/etcd/pki/peer.crt"
ETCD_PEER_KEY_FILE="/etc/etcd/pki/peer.key"

ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="etcd"
